.idea
.DS_Store
.env
.ipynb_checkpoints
*.ipynb
*.png
__pycache__
.vscode

analysis/workshop_files/*
!analysis/workshop_files/.gitkeep

analysis/data/*
!analysis/data/.gitkeep

learning/runs
learning/results
